.launch
.springBeans
.project
.settings
.classpath
target
.metadata
/.classpath
projectFilesBackup/
/cache
/.project
/.settings
/**/*.log
/.checkstyle
/.factorypath
/.pmd
/.externalToolBuilders
*.ipr
*.iws
*.iml
.idea
.atomist.yml
.atomist/node_modules

/test.html
/test/_js/nodejs/node_modules
*.orig
*.tar
